// Подключение рабочих файлов
@import 'variables/variables';
@import 'mixins/mixins';
@import 'fonts/fonts';
@import 'functions/functions';
@import 'extends/extends';
// ---

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: $Roboto;
}

a {
  @include clear-link;
}

svg {
  display: block;
}

// Подключение компонентов
@import 'components/header/header.scss';
@import 'components/icon/icon.scss';
@import 'components/preview/preview.scss';
@import 'components/footer/footer.scss';
@import 'components/list-social/list-social.scss';
// ---
