// Подключение сущностей
@import 'entities/clear';
// ---

@mixin transition-all {
  transition: all 200ms ease;
}

@mixin flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin element-center-y {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin element-center-x {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin element-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin background-image {
  background: center no-repeat;
  background-size: cover;
}

@mixin box-max-content {
  width: max-content;
  height: max-content;
}

@mixin position-fill {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin no-select {
  user-select: none;
}

@mixin circle {
  border-radius: 50%;
}
