<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>Empire Smoke</title>
</head>
<body>
{{>../components/header/header}}
{{>../components/preview/preview image="header-1.jpg"}}

{{#if @partial-block}}
  {{>@partial-block}}
{{/if}}

{{>../components/footer/footer}}
</body>
</html>
