<header class="header">
  <div class="header__inner">
    <div class="header__wrap-link">
      <a href="#" class="header__link">Главная</a>
      <a href="#" class="header__link">Аренда</a>
    </div>

    <a href="#" class="header__logo">
      {{>../icon/icon name="logo"}}
    </a>

    <div class="header__wrap-link">
      <a href="#" class="header__link">Галерея</a>
      <a href="#" class="header__link">Контакты</a>
    </div>

    {{>../list-social/list-social theme="small" class="header__list-social"}}
  </div>
</header>
