.header {
  @extend %wrapper;
  width: 100%;
  background-color: $black;

  &__inner {
    @extend %inner-big;
    @include flex-center-center;
    position: relative;
    width: max-content;
    height: 123px;
  }

  &__logo {
    width: 392px;
    height: 60px;
    margin: 0 54px;
    color: $white;
    cursor: pointer;
    transition: $transition-duration transform $transition-function;

    &:hover {
      transform: scale(0.98);
    }
  }

  &__link {
    margin-right: 49px;
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
    color: $white;
    cursor: pointer;
    transition: $transition-duration color $transition-function;

    &:last-child {
      margin-right: unset;
    }

    &:hover {
      color: $purple;
    }
  }

  &__list-social {
    position: absolute;
    right: -134px;
    color: $white;
  }
}
