<footer class="footer">
  <div class="footer__copyright">
    Copyright 2020 Empire Smoke.<br>
    All rights reserved.
  </div>

  <img src="/assets/images/card.png" alt="card" class="footer__card">

  {{>../list-social/list-social theme="big" class="footer__list-social"}}

  <div class="footer__develop">Developed by Alex Nero</div>
</footer>
