.footer {
  @extend %wrapper;
  @include flex-center-center;
  width: 100%;
  height: 118px;
  color: $grey;
  background-color: $black-light;

  & > * {
    margin-right: 117px;

    &:last-child {
      margin-right: unset;
    }
  }

  &__copyright {
    font-size: 12px;
    line-height: 18px;
  }

  &__develop {
    font-size: 12px;
    line-height: 15px;
  }
}
