// Подключение сущностей
@import 'entities/color';
// ---

// Типография: Описание шрифтов
$Roboto: 'Roboto', sans-serif;
// ---

// Анимация: Описание анимаций
$transition-duration: 150ms;
$transition-function: ease-in;
// ---
