.list-social {
  display: flex;
  align-items: center;
  $self: &;

  &__icon {
    cursor: pointer;
    transition: $transition-duration color $transition-function;

    &:hover {
      color: $purple;
    }
  }

  &_theme_small {
    #{$self}__icon {
      width: 20px;
      height: 20px;

      &_instagram {
        width: 14px;
        height: 14px;
        margin: 0 15px;
      }
    }
  }

  &_theme_big {
    #{$self}__icon {
      width: 31px;
      height: 31px;

      &_instagram {
        width: 21px;
        height: 21px;
        margin: 0 24px;
      }
    }
  }
}
