<div class="list-social list-social_theme_{{theme}} {{class}}">
  <div class="list-social__icon">
    {{>../icon/icon name="facebook"}}
  </div>
  <div class="list-social__icon list-social__icon_instagram">
    {{>../icon/icon name="instagram"}}
  </div>
  <div class="list-social__icon">
    {{>../icon/icon name="twitter"}}
  </div>
</div>
